h1{
    background-color: rgb(206, 255, 239);
    color: rgb(1, 130, 70);
    text-align: center;
 }

 .choice{
    text-align: center;
    background-color: rgb(216, 252, 255);
    color: rgb(77, 165, 224);
    font-weight: 690;
    font-size: 19px;
 }

 .none{
    text-decoration: none;
 }
 .none:hover{
    background-color: blue;
    color: white !important;
 }
.none:visited{
    color: rgb(77, 165, 224);
}

table{
    width: 100%;
    table-layout: fixed;
}
thead{
    background-color: aqua;
    color: rgb(2, 189, 189);
}
        
tbody{
    background-color: rgb(241, 238, 234);
}

.cham:hover{
    background-color: rgb(165, 235, 235);
}
 .box3{
    background-color: rgb(4, 145, 150);
    text-align: center;
    color:rgb(247, 236, 221) ;
}


